<%- contentFor('body') %>
    <div class="container-fluid bg-3 text-center content">
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Contato</b></p>
                <div class="w3-container text-justify">
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sorocaba, São Paulo</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ingridf.abarbosa@gmail.com</p>
                    <i class="fa fa-linkedin-square fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://www.linkedin.com/in/ingridf-abarbosa/">ingridf-abarbosa</a>
                    
                