<%- contentFor('body') %>
  <div class="container-fluid bg-3 text-center">
    <p class="w3-large"><b><i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal"></i>Experiencia</b></p>
    <div class="row">
      <div class="col-sm-4">
        <h4> AIESEC</h4>
        <i class="fa fa-calendar" style="font-size:14px">| 2017 - 2018</i>
        <p>Costumer Experience Outgoing Global Volunteer</p>
        <p>Área que trabalha com a venda do programa de intercâmbio voluntário (GlobalVolunteer), para jovens entre 18 e
          30 anos, com a proposta de desenvolvimento de liderança durante a experiência.</p>
      </div>
    </div>
  </div>