<%- contentFor('body') %>

    <body>
      <div class="container-fluid bg-3 text-center">
        <img src="imagens/perfil.jpg" class="img-circle margin" style="display:inline" alt="perfilfoto" width="200"
          height="200">
        <h3 class="margin">Ingrid Barbosa</h3>
        <p>Sou bacharel em Relações Internacionais, tenho 25 anos. Desenvolvi projetos sociais junto de Organizações
          que trabalhei baseado nos Objetivos de Desenvolvimento Sustentável.
          Estou em transição de carreira com o objetivo de me desenvolver como profissional na área de tecnologia da
          informação.Nos ultimos meses tenho me qualificando para maximizar meus resultados através de estudos, pesquisas e
          dedicação. </p>
      </div>
    </body>